@import url('https://fonts.googleapis.com/css?family=Krub:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #3d3d3d;
  font-family: 'Krub', sans-serif;
}





.card {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(0, 0, 0, 0.2);
  background: #1d1c1c;
  overflow: hidden;
  .ds-top {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 75px;
    background: #8BCC0A;
    animation: dsTop 1.5s;
  }
  .avatar-holder {
    position: absolute;
    margin: auto;
    top: 20px;
    right: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #151515,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,
                inset 0 0 0 5px #000000,;
    background: rgb(54, 54, 54);
    overflow: hidden;
    animation: mvTop 1.5s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .name {
    position: absolute;
    margin: auto;
    top: -135px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 10px;
    text-align: center;
    animation: fadeIn 2s ease-in;
    a {
      color: #8BCC0A;
      text-decoration: none;
      font-weight: 700;
      font-size: 15px;
        /* &:hover {
          text-decoration: underline;
          color: crimson;
      } */
    }
  }
  .gitlab
  {
    position: absolute;
    margin: auto;
    top: -80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 30px;
    text-align: center;
    animation: fadeIn 2s ease-in;
    a {
      color: #e7ebe0;
      text-decoration: none;
      font-weight: 400;
      font-size: 13px;
    }
    a:hover 
    {
      transform: scale(2.2);
      color: #8BCC0A;
    }
    /* h6{
      color: #8BCC0A;
      text-decoration: none;
      font-weight: 700;
      font-size: 13px;
    } */
  }

  .about
  {
    position: absolute;
    margin: auto;
    top: 10px;
    bottom: 0;
    right: 8px;
    left: 8px;
    width: auto;
    height: 70px;
    /* border-color: #8BCC0A;
    border-style: solid;
    border-width: 1px; */
    
    p{
      position: absolute;
      left: 10px;
      top: 0;
      right: 2px;
      bottom: 0;
      text-align: center;
      color: #ffffff;
      animation: fadeInMove 2s;
      font-size: 13px;
      /* -webkit-line-clamp: 4;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical; */
    }
    p:hover
    {
      -webkit-line-clamp: unset;
    }
  }
  hr 
  {
    width: 30px;
    color: #8BCC0A;
    
  }


  .social-icons {
    padding: 0;
    position: absolute;
    list-style: none;
    margin: 1em;
    animation: fadeInMove 2s;
  }
  
  .social-icons li {
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1em;
    top: 230px;
    right: -30px;
  }
  
  .social-icons i {
    color: #020202;
    position: absolute;
    top: 0.52em;
    left: 0.48em;
    transition: all 265ms ease-out;
  }
  
  .social-icons a {
    display: inline-block;
  }
  
  .social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 30px;
    height: 30px;
    border-radius: 20%;
    display: block;
    background: linear-gradient(60deg, #8BCC0A, 70%, #cac8c8);
    transition: all 265ms ease-out;
  }
  
  .social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
  }
  
  .social-icons a:hover i {
    transform: scale(2.0);
    /* -ms-transform: scale(2.2);
    -webkit-transform: scale(2.2); */
    color: #65d64f;
    background: -webkit-linear-gradient(45deg, #fcf7f7, #6b6b6b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 265ms ease-in;
  }

    /* h6 {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      width: 40px;
    } */
  
  /* .button {
    position: absolute;
    margin: auto;
    padding: 8px;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    width: inherit;
    height: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
    outline: none;
    a {
      padding: 5px 20px;
      border-radius: 10px;
      color: white;
      letter-spacing: 0.05em;
      text-decoration: none;
      font-size: 10px;
      transition: all 1s;
      &:hover {
        color: white;
        background: crimson;
      }
    }
  } */
  /* .ds-info {
    position: absolute;
    margin: auto;
    top: 120px;
    bottom: 0;
    right: 0;
    left: 0;
    width: inherit;
    height: 40px;
    display: flex;
    .pens, .projects, .posts {
      position: relative;
      left: -300px;
      width: calc(250px / 3);
      text-align: center;
      color: white;
      animation: fadeInMove 2s;
      animation-fill-mode: forwards;
      h6 {
        text-transform: uppercase;
        color: crimson;
      }
      p {
        font-size: 12px;
      }
    }
    .ds {
      &:nth-of-type(2) {
        animation-delay: .5s;
      }
      &:nth-of-type(1) {
        animation-delay: 1s;
      }
    }
  } */
  .ds-skill {
    position: absolute;
    margin: auto;
    bottom: 10px;
    right: 0;
    left: 0;
    width: 200px;
    height: 100px;
    animation: mvBottom 1.5s;
    h6 {
      margin-bottom: 5px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
    }
    .skill {
      h6 {
        font-weight: 500;
        font-size: 10px;
        letter-spacing: 0.05em;
        margin: 4px 0;
        color: #ffffff;
        .percent {
          text-align: right;
          padding-left: 133px;
          color: rgb(255, 255, 255);
          font-size: 10px;
          /* padding-top: 20px; */
          animation: fadeIn 5s;
        }
      }
      .progress {
      height: 4px;
      background-color: beige;
      }
      .progress-bar
      {
        background-color: #8BCC0A;
        /* p{
          text-align: right;
          color: rgb(255, 255, 255);
          font-size: 8px;
          padding-top: 20px;
          animation: fadeIn 5s;
        } */
      }
      /* .fab {
        color: crimson;
        font-size: 14px;
      }
      .bar {
        height: 5px;
        background: crimson;
        text-align: right;
        p {
          color: white;
          font-size: 8px;
          padding-top: 5px;
          animation: fadeIn 5s;
        }
        &:hover {
          background: white;
        }
      } */
      .bar-html {
        width: 95%;
        animation: htmlSkill 1s;
        animation-delay: .4s;
      }
      .bar-css {
        width: 90%;
        animation: cssSkill 2s;
        animation-delay: .4s;
      }
      .bar-js {
        width: 75%;
        animation: jsSkill 3s;
        animation-delay: .4s;
      }
    }
  }
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes htmlSkill {
  0% {width: 0;}
  100% {width: 95%;}
}

@keyframes cssSkill {
  0% {width: 0;}
  100% {width: 90%;}
}

@keyframes jsSkill {
  0% {width: 0;}
  100% {width: 75%;}
}

@keyframes mvBottom {
  0% {bottom: -150px;}
  100% {bottom: 10px;}
}

@keyframes mvTop {
  0% {top: -150px;}
  100% {top: 40px;}
}

@keyframes dsTop {
  0% {top: -150px;}
  100% {top: 0;}
}

.following {
  color: white;
  background: crimson;
}
